.chat {
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.chat_open {
  display: none;
}

.chat__menu {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  right: 0;
  bottom: 50px;
  row-gap: 20px;
  min-height: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.chat__menu_open {
  height: 300px;
}

.chat__icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  background-color: transparent;
  animation: pulse2 2.5s infinite;
}

.chat__icon_open {
  animation: none;
}
.chat__title {
  color: white;
}

.chat__animated-border {
  position: absolute;
  right: 0;
  top: 0;
  border: 3px solid white;
  width: 50px;
  height: 50px;
  animation: pulseWithOpacity 2.5s infinite;
  border-radius: 30%;
  opacity: 0;
  z-index: -1;
  box-shadow: 0 0 30px 10px #ffffff;
}

.chat__animated-border_open {
  display: none;
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseWithOpacity {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  90% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
