.audioitem {
  margin-top: 20px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 768px;
  padding-bottom: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

.audioitem__cover {
  width: 112px;
  height: 112px;
  display: block;
  border-radius: 3px;
}

.audioitem__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.audioitem__name {
  font-style: italic;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.audioitem__audio {
  width: 100%;
  /* max-width: 450px; */
}

.audioitem__audio::-webkit-media-controls-panel {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
