.info {
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

.info__title {
  font-size: 6rem;
  margin: 0;
  text-align: center;
  animation: pulse 6s infinite;
  font-family: "Commissioner";
  z-index: 1;
  /* letter-spacing: 20px; */
}

.info__subtitle {
  font-size: 2rem;
  animation: pulse 6s infinite;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 40px;
  z-index: 1;
}

.info__video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  object-fit: cover;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
