.info {
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 800;
  font-style: normal;
  padding-top: 140px;
  box-sizing: border-box;
}

.canvas-element {
  width: 100%;
  height: 50vh;
}

.info__title {
  font-size: 8rem;
  margin: 0;
  animation: pulse 6s infinite;
  color: #805dfc;
}

.info__subtitle {
  font-size: 2.2rem;
  animation: pulse 6s infinite;
  letter-spacing: -2px;
  margin: 0;
  padding-top: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
