.portfolio {
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  /* max-width: 1536px; */
  width: 100vw;
  flex-shrink: 0;
  /* background-image: url("../../images/info2.JPG");
  background-position: center;
  background-size: cover; */
}

.portfolio_title {
  font-size: 2rem;
  margin-bottom: 60px;
}

.audioitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
