.reviews {
  background-color: transparent;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__title {
  font-size: 2rem;
  margin-bottom: 60px;
}
