@import url("./vendor/fonts.css");
body {
  max-width: 1536px;
  margin: 0 auto;
  background-color: #000000;
  /* background-image: radial-gradient(
    ellipse at center,
    blue -100%,
    black 70%,
    purple 150%
  ); */
  font-family: "Permanent Marker", cursive;
  font-weight: 800;
  font-style: normal;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
