.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 371px;
  padding: 0 5px;
  margin-top: 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: 100;
  box-shadow: 0px 0px 20px 0px #eae9ec;
  transition: box-shadow 1s;
  background: rgb(120, 124, 131);
  overflow: hidden;
}
.card:hover {
  box-shadow: 0px 0px 50px 0px #46a32a;
}

.card .current-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  border-radius: 20px;
  color: #071739;
  background: #fff;
}
.card .current-song audio {
  display: none;
}
.card .current-song .img-wrap {
  position: relative;
  margin: 0 auto;
  width: 270px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 10px 40px 0px rgba(39, 70, 132, 0.8);
}
.card .current-song .img-wrap img {
  width: 100%;
  height: auto;
}

.card .current-song .song-name {
  margin-top: 30px;
  font-size: 22px;
}
.card .current-song .song-autor {
  color: #709fdc;
}
.card .current-song .time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 240px;
}
.card .current-song #timeline {
  position: relative;
  margin: 0 auto;
  width: 240px;
  height: 5px;
  background: #709fdc;
  border-radius: 5px;
  cursor: pointer;
}
.card .current-song #timeline:hover .hover-playhead {
  opacity: 1;
}
.card .current-song #timeline:hover .hover-playhead::before {
  opacity: 1;
}
.card .current-song #timeline:hover .hover-playhead::after {
  opacity: 1;
}
.card .current-song #timeline #playhead {
  position: relative;
  z-index: 2;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: #46a32a;
}
.card .current-song #timeline .hover-playhead {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 0;
  height: 5px;
  opacity: 0;
  border-radius: 5px;
  background: #46a32a;
  transition: opacity 0.3s;
}
.card .current-song #timeline .hover-playhead::before {
  opacity: 0;
  content: attr(data-content);
  display: block;
  position: absolute;
  top: -30px;
  right: -23px;
  width: 40px;
  padding: 3px;
  text-align: center;
  color: white;
  background: #46a32a;
  border-radius: calc(20px - 12px);
}
.card .current-song #timeline .hover-playhead::after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  border-top: 8px solid #46a32a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.card .current-song .controls {
  margin-top: 10px;
}
.card .current-song .controls button {
  color: #071739;
  border-radius: 50%;
  margin: 15px;
  font-size: 18px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  background: 0;
}
.card .current-song .controls button:focus {
  outline: none;
}
.card .current-song .controls button.play {
  width: 50px;
  height: 50px;
  border: 1px solid #e2e2e2;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transition: all 0.2s ease-in-out;
  background-position-x: 15px;
}
.card .current-song .controls button.play.playrn {
  background-image: url("../../images/play.png");
  transition: all 0.2s ease-in-out;
}

.card .current-song .controls button.play.pausern {
  background-image: url("../../images/pause.png");
  transition: all 0.2s ease-in-out;
}
.card .current-song .controls button.play:hover {
  left: 0;
  box-shadow: 0px 0px 15px 0px rgba(39, 70, 132, 0.7);
}

.card .current-song .controls button.prev {
  width: 35px;
  height: 35px;
  background-image: url("../../images/rewind.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.card .current-song .controls button.next {
  width: 35px;
  height: 35px;
  background-image: url("../../images/rewindnext.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.card .current-song .controls button.prev:hover {
  transform: scale(1.2);
}
.card .current-song .controls button.next:hover {
  transform: scale(1.2);
}
.card .play-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 290px;
  overflow-y: scroll;
}
.card .play-list .track {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: calc(20px - 10px);
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.card .play-list .track:hover {
  background: #46a32a;
  border-color: #46a32a;
  position: relative;
}
.card .play-list .track.current-audio {
  background: #46a32a;
  box-shadow: 0px 0px 15px 0px #071739;
}
.card .play-list .track.play-now {
  background: #46a32a;
  box-shadow: 0px 0px 15px 0px #071739;
  position: relative;
}
.card .play-list .track.play-now:after {
  content: "";
  display: block;
  position: absolute;
  left: 17px;
  width: 57px;
  height: 57px;
  border-radius: calc(20px - 10px);
  font-size: 16px;
  animation: play 2s linear infinite;
}
.card .play-list .track.play-now .track-img {
  filter: opacity(70%);
}
.card .play-list .track .track-img {
  width: 90px;
  border-radius: calc(20px - 10px);
}
.card .play-list .track .track-discr {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.card .play-list .track .track-discr .track-name {
  font-size: 17px;
  margin-top: 8px;
}
.card .play-list .track .track-discr .track-author {
  margin-top: 8px;
  font-weight: 400;
  color: #000;
}
.card .play-list .track .track-duration {
  min-width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
}

.play-list::-webkit-scrollbar {
  width: 8px;
}
.play-list::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
.play-list::-webkit-scrollbar-track {
  background: #071739;
}
@keyframes play {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
